<!DOCTYPE html>
<html lang="en" style="background-color: #f9f9f9;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <meta name="google-site-verification" content="oN1a6LE7rAupjkjeOeOz6sjQqKiBdUVio5jNuu5V0Hk" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/material-two-tone/24/000000/puzzle--v1.png" type="image/x-icon">
    <title>Small</title>
</head>
<body style="background-color: #f9f9f9;">
    <header style="border: 1px solid rgb(249,249,249, 0.3); text-align:center; z-index: 1; position: sticky; top: 0; background-color: rgba( 249, 249, 249, 0.1); backdrop-filter: blur(15px);">
        <div id="logo" style="padding: 45px 20px 10px;"><a href="/" class="logo" style="font: 900 49px asap,arial; color:#0186da; text-shadow: 0 2px 2px #ddd; ">YuTing</a></div>
    </header>
    
    <div class="container">
    <h1 style="font: bold 36px asap,arial; color: #505050; text-align:center;">Paste the URL to be smaller</h1>
    <form id="formID" onsubmit="return false;" class="my-4 form-inline">
        <label for="fullUrl" class="sr-only">Url</label>
        <input placeholder="Enter the link here" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2" required pattern="https?://.+" autocomplete="off">
        <button id="submitID" class="btn btn-success" type="submit">Smaller</button>
    </form>
<div class="content">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl => { %> 
                <tr>
                    <td style="max-width:150px; word-wrap:break-word;"><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                    <td>
                        <button class="copy btn-success btn-sm" data-clipboard-text="<%= shortUrl.short %>" onclick="copyToClipboard(`${window.location.origin}/<%= shortUrl.short %>`)">Copy</button>
                        <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>
                    </td>
                    <td><%= shortUrl.clicks %></td>
                </tr>
            <% }) %>  
        </tbody>
    </table>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script async src="https://unpkg.com/sweetalert2/dist/sweetalert2.min.js"></script>
<link async rel="stylesheet" href="https://unpkg.com/sweetalert2/dist/sweetalert2.min.css">
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
    var form = document.getElementById('formID');
    var submitButton = document.getElementById('submitID');

    form.addEventListener('submit', function() {

        // Disable the submit button
        submitButton.setAttribute('disabled', 'disabled');
        submitButton.innerText = 'Sending...';
        // Change the "Submit" text
        submitButton.value = 'Please wait...';
                
    }, false);

    $('#formID').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/shortUrls',
            type: 'post',
            data: $('#formID').serialize(),
            success: function(res) {
                // Whatever you want to do after the form is successfully submitted
                swal.fire({
                    icon: 'success',
                    title: 'Smaller Success',
                    text: "",
                    timer: 2000,
                    showConfirmButton: false
                })
                
                submitButton.removeAttribute("disabled");
                submitButton.innerText = 'Smaller';
                $(".content").html(res);
            },
            error: function(res) {
                // Whatever you want to do after the form is successfully submitted
                swal.fire({
                    icon: 'error',
                    title: 'Smaller Error',
                    text: "",
                    timer: 2000,
                    showConfirmButton: false
                })
                submitButton.removeAttribute("disabled");
                submitButton.innerText = 'Smaller';
            },
        });
    });

    var clipboard = new Clipboard('.copy', {
        text: function(trigger) {
            let text = `${window.location.origin}/${trigger.getAttribute('data-clipboard-text')}`;
            return text;
        }
    });

    clipboard.on('success', function(e) {
        swal.fire({
            icon: 'success',
            title: "Copy Success",
            text: e.text,
            timer: 2000,
            showConfirmButton: false
        })
    })

    clipboard.on('error', function(e) {
        swal.fire({
            icon: 'error',
            title: "Copy Failed",
            timer: 2000,
            showConfirmButton: false
        })
    })

    function copyToClipboard(url) {
        /* Get the text field */
        //var copyText = document.getElementById("myInput");

        /* Select the text field */
        //copyText.select();
        //copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        //navigator.clipboard.writeText(url).then(function() {
        //    alert("Copied: " + url);
        //}, function() {
        //    alert("Copy fail!");
        //});
    }
</script>

</body>
</html>